

*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-color: black;
    background-image: url('../../assets/fundo\ qtx\ \(1\).png');
    background-size: 100% 100%;
    width: 1250px;
    height: 40vw;
}