<div class="card p-3 mt-3">
    <form class="row g-3 needs-validation" novalidate [formGroup]="form">
        <div class="col-sm-12">
            <label for="nome" class="form-label">NOME</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="Nome do projeto" formControlName="nome">
            <div class="invalid-feedback">
                Informe o nome do projeto!!!
            </div>
        </div>
        <div class="col-sm-12">
            <label for="descricao" class="form-label">DESCRIÇÃO</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="Descrição do projeto" formControlName="descricao">
            <div class="invalid-feedback">
                Informe a descricao!!!
            </div>
        </div>
        <div class="col-sm-12">
            <label for="qtdeParticipantes" class="form-label">QTDE DE PARTICIPANTES</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="qtdeParticipantes" formControlName="qtdeParticipantes">
            <div class="invalid-feedback">
                Informe a quantidade de Participantes!!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="responsavel" class="form-label">RESPONSÁVEL</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="Nome do responsável" formControlName="responsável">
            <div class="invalid-feedback">
                Informe o responsável !!!
            </div>
        </div>
        <div class="col-sm-6">
            <label for="custo" class="form-label">CUSTO</label>
            <input type="text" class="form-control" id="nome" 
            placeholder="custo" formControlName="emaik">
            <div class="invalid-feedback">
                Informe o custo!!!
            </div>
        </div>

        <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-primary me-2" type="submit" (click)="Salvar()">Salvar</button>
            <button class="btn btn-danger" type="submit" (click)="Cancelar()">Cancelar</button>
        </div>
    </form>
</div>